* {
    padding: 0px;
    margin: 0px;
    letter-spacing: 0.2px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

header {
    background-color: #fff;
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 99;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.2);
}

nav {
    display: flex;
    padding: 20px 110px; 
    margin-bottom: -40px;
}

.logo {
    list-style-type: none;
    width: 55%;
    box-sizing: border-box; 
    font-weight: bold;
}

.logo a {
    color: #5fcf80;
    font-size: 35px;
    line-height: 1;
    font-weight: 650;
    letter-spacing: 1px;
    /* text-transform: uppercase; */
    font-family: "Poppins", sans-serif;
}

.menu {
    list-style-type: none;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-top: 5px;
    margin-top: 0px; 
}

.menu li a {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    /* letter-spacing: 1px; */
    font-weight: bold;
    color: #37423b;
    white-space: nowrap;
    transition: 0.3s;
}

.menu li a:hover,
.dropdown-bar a:hover {
    color: #5fcf80;
}

.dropdown {
    /* display: inline; */
    position: relative;
}

.dropdown-bar {
    position: absolute;
    /* top: 60px; */
    /* overflow: hidden; */
    list-style-type: none;
    background-color: white;
    display: none; 
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    /* opacity: 0; */
    /* transition-duration: 0.4s; */
}

.dropdown:hover  .dropdown-bar {
    display: block;
    /* height: 200px; */
    /* top: 10px; */
    /* opacity: 1; */
}

.dropdown-bar li {
    padding: 18px 70px 18px 15px;
}

.menu button {
    background: #5fcf80;
    color: #fff;
    margin-top: -9px;
    padding-right: 31px;
    padding-left: 31px;
    border-radius: 50px;
    transition: 0.3s;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    border: none;
}

.menu button:hover {
    background-color: #3ac162;
    cursor: pointer;
}

.container {
    background-color: #5fcf80;
    display: flex;
    margin-top: 75px;
    justify-content: center;
}

.box {
    width: 60%;
    padding: 33px 0px 33px 0px;
    color: white;
}

.box h2 {
    text-align: center;
    font-size: 32px;
    font-weight: 500;
    font-family: Raleway, sans-serif;
}

.box p {
    text-align: center;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    color: #fff;
    line-height: 1.5;
    margin-top: 5px;
    padding: 0px 113px;
}

.card {
    display: flex;
    position: relative;
    justify-content: space-around;
    margin-top: 80px;
    font-family: "Raleway", sans-serif;
    padding: 0px 80px;
    animation: slide 1.5s ease-out;
}
@keyframes slide {
    from {
        top: 100px;
        opacity: 0
    }

    to {
        top: 0px;
        opacity: 1
    }
}
.card div {
    border: 1px solid #eef0ef;
    text-align: center;
}

.c1,
.c2,
.c3,
.c4 {
    width: 22%;
    height: 420px;
    position: relative;
    overflow: hidden;
}

.card h1 {
    color: #5fcf80;
}

.card h1 span {
    color: #bababa;
    font-size: 16px;
    font-weight: 300;
    font-family: "Poppins", sans-serif;
}

.card h3 {
    padding: 20px 15px;
    font-size: 16px;
    font-weight: 600;
    color: #777777;
    background: #f8f8f8;
    margin-bottom: 20px;
}

.c2 h3 {
    background-color: #5fcf80;
    color: white;
}

.card p {
    padding: 10px 10px;
    color: #444444;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    letter-spacing: 0.5px;
}

.card .not-available {
    color: #ccc;
    text-decoration: line-through;
}

.btn {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #f8f8f8;
}

.advanced {
    background-color: #5fcf80;
    color: white;
    letter-spacing: 0;
    display: inline-block;
    width: 45%;
    position: absolute;
    transform: rotate(45deg);
    font-size: 13px;
    padding: 2px 0px 2px 10px;
}

.btn button {
    margin: 22px 0px;
    display: inline-block;
    padding: 11px 35px;
    border: none;
    border-radius: 50px;
    color: #fff;
    background: #5fcf80;
    transition: none;
    font-size: 14px;
    font-weight: 400;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    transition: 0.3s;
}

.row1 {
    display: flex;
    /* justify-content: space-between; */
}

.row-container2 {
    display: flex;
}

footer {
    background-color: #f9faf9;
}

.row-container1 {
    margin: 62px 110px 0px 110px;
    padding-top: 62px 0px;
}

footer p,
ul {
    margin-top: 25px;
}

footer h3 {
    margin-top: 5px;
}

footer li {
    padding-bottom: 18px;
}

.col1 {
    width: 350px;
}

.col2,
.col3 {
    width: 230px;
}

.col4 {
    margin-left: 100px;
    position: relative;
}

.col4 p {
    margin-bottom: 30px;
}

.row1 {
    padding-top: 65px;
    margin-bottom: 45px;
}

input[type="submit"] {
    position: absolute;
    /* top: -1px; */
    right: -5px;
    /* bottom: -1px; */
    border: none;
    font-size: 16px;
    padding: 14px 20px 12px 20px;
    margin-top: -2px;
    color: #fff;
    transition: 0.3s;
    border-radius: 50px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    background-color: #5fcf80;    
}

input[type="email"] {
    width: 90%;
    height: 40px;
    /* margin-top: 1px; */
    border-radius: 20px;
    border: 1px solid #ccc;
}

footer p,
a {
    color: #777777;
}

.row-container2 {
    background-color: #eef0ef;
}

.row2{
    margin: 0px 110px;
    display: flex;
    padding-bottom: 30px;
}