* {
    padding: 0px;
    margin: 0px;
    letter-spacing: 0.2px;
    font-family: "Poppins", sans-serif;
}
body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-thumb {
    background-color: #9c9494;
    border-radius: 5px;
}
ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

header {
    background-color: #fff;
    width: 100%;
    top: 0;
    position: sticky;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 99;
}

nav {
    display: flex;
    padding: 20px 110px;
}

.logo {
    list-style-type: none;
    width: 55%;
    box-sizing: border-box;
}

.logo a {
    color: #5fcf80;
    font-size: 35px;
    line-height: 1;
    font-weight: 650;
    letter-spacing: 1px;
    /* text-transform: uppercase; */
}

.menu {
    list-style-type: none;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-top: 5px;
    margin-top: 0px;
}

.menu li a {
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 501;
    color: #37423b;
    white-space: nowrap;
    transition: 0.3s;
}

.menu li a:hover,
.dropdown-bar a:hover {
    color: #5fcf80;
}


.menu button {
    background: #5fcf80;
    color: #fff;
    margin-top: -9px;
    padding-right: 31px;
    padding-left: 31px;
    border-radius: 50px;
    transition: 0.3s;
    font-size: 14px;
    border: none;
}

.menu button:hover {
    background-color: #3ac162;
    cursor: pointer;
}




/* my section starts */




.course-topic {
    background-color: #282A35 !important;
    position: sticky;
    top: 75px;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2);
    z-index: 99;
}

.topic-list {
    display: flex;
    justify-content: space-between;
    margin: 0px 95px;
}

.topic-list>li {
    padding: 1em;
    font-size: 1rem;
    transition: 0.4s;
    color: white;
    cursor: pointer;
}

.topic-list>li>a {
    color: white;
}


.video-container {
    background-color: #282A35 !important;
    color: white;
    height: 100vh;
    display: flex;
    align-items: center;
}

.heading {
    text-align: center;
    margin-bottom: 2em;
}

.heading1 {
    font-size: 2.5rem;
    padding: 1.9em 0 0.3em 0;
}

.heading2 {
    padding: 1.5em;
}

.current-video {
    width: 750px;
    margin: 0 auto;
}
.video-name{
    margin: 1em 0;
    font-size: 1.8rem;
}
.course-name{
    font-size: 2.2rem;
    text-align: center;
    margin: 1.3em 0;
}
.video {
    box-shadow: 0 0 15px 8px rgba(52, 191, 242, 0.3);
}

.change-video-button-container {
    display: flex;
    margin: 4em 0;
    justify-content: center
}

.change-video-button {
    display: block;
    background: #5fcf80;
    color: #fff;
    padding: 10px 50px;
    border-radius: 30px;
    transition: 0.3s;
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
    margin-right: 20px;
}

.change-video-button:hover {
    background: #3ac162;
}

.IDE-container {
    display: none;
    margin: 0px 80px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}
.showEditor{
    display: block;
}
.IDE-container > .IDE{
    height: 80vh;
    width: 100%;
}
.CodeNow, .takeQuiz {
    cursor: pointer;
    color: #fff;
    margin: 2em 0;
    display: block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: 0.5em 7em;
    border-radius: 20px;
    transition: 0.3s;
    font-size: 1.5rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: none;
}
.takeQuiz {
    background: #2196F3;
}
.CodeNow{
    background: #5fcf80;
}
.takeQuiz:hover {
    background: #0c60a4;
}
.CodeNow:hover{
    background: #3ac162;
}
.IDE {
    width: 100%;
    height: 100vh;
    border: none;
}

.row1 {
    display: flex;
}

.row-container2 {
    display: flex;
}

footer {
    background-color: #f9faf9;
}

.row-container1 {
    margin: 62px 110px 0px 110px;
    padding-top: 62px 0px;
}

footer p,
ul {
    margin-top: 25px;
}

footer h3 {
    margin-top: 5px;
}

footer li {
    padding-bottom: 18px;
}

.col1 {
    width: 350px;
}

.col2,
.col3 {
    width: 230px;
}

.col4 {
    margin-left: 100px;
    position: relative;
}

.col4 p {
    margin-bottom: 30px;
}

.row1 {
    padding-top: 65px;
    margin-bottom: 45px;
}

input[type="submit"] {
    position: absolute;
    /* top: -1px; */
    right: -5px;
    /* bottom: -1px; */
    border: none;
    font-size: 16px;
    padding: 14px 20px 12px 20px;
    margin-top: -2px;
    color: #fff;
    transition: 0.3s;
    border-radius: 50px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    background-color: #5fcf80;
}

input[type="email"] {
    width: 90%;
    height: 40px;
    border-radius: 20px;
    border: 1px solid #ccc;
}

footer p,
a {
    color: #777777;
}

.row-container2 {
    background-color: #eef0ef;
}

.row2 {
    margin: 0px 110px;
    display: flex;
    padding-bottom: 30px;
}